@use 'var';

.footer{
    padding: 0 3vw;
    text-align: center;
    background-image: linear-gradient(var.$brownLight, var.$red);

    &__links{
        display: flex;
        list-style: none;
        justify-content: space-between;
        padding: 32px 80px;
        @media (max-width: 767px) {
            flex-wrap: wrap;
            width: 100%;
            padding: 8px;    
        }

        &__item{
            text-decoration: none;
            font-size: 16px;
            &.title--small{
                @media (max-width: 767px) {
                    font-size: 14px;
                }
            }
        }
    }

    .text--small{
        color: var.$corDark
    }
}