@use 'var';

.movie{
    padding: 5.6vw;
    height: 640px;
    background-image: url(https://i.pinimg.com/originals/c9/3b/c8/c93bc8be267895d0f5355a6ebd8215fe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    align-items: baseline;
    @media (max-width: 767px) {
        width: 100%;
        background-position: center;
        display: block;        
    }

    &__container{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media (max-width: 767px) {
            display: block;
            text-align: center;
            width: 100%;
        }

        p{
            margin: 24px 0 380px;
            text-align: center;
            background-color: rgba($color: #000000, $alpha: .3);
        }

        .button{
            width: 100%;
            text-align: center;
            background-color: rgba($color: #000000, $alpha: .3);
        }
    }
}