@use 'var';
@use 'hero';
@use 'movie';
@use 'game';
@use 'header';

@font-face {
    font-family: Kung Fu Panda;
    src: url(../../assets/Kung\ Fu\ Panda.woff);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Kung Fu Panda;
}

.title--big{
    font-size: 40px;
    color: var.$brownLight;
}

.title{
    font-size: 32px;
    color: var.$brownLight;
}

.title--small{
    font-size: 24px;
    color: var.$brownLight;
}

.text--big{
    font-size: 24px;
    color: var.$corLight;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.text{
    font-size: 16px;
    color: var.$corLight;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.text--small{
    font-size: 8px;
    color: var.$corLight;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button{
    text-decoration: none;
    color: var.$corLight;
    background-color: transparent;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var.$corLight;
    &:hover{
        padding: 12px;
        background-color: var.$red;
    }
}